@{
    ViewData["Title"] = "Ejercicio 1";
}

<div>
    <h2>Elegir un número para hacer el cuadrado: </h2>
    <hr/>
    <form asp-action="Ejercicio1" method="POST">
        <input name="a" type="number"/>
        <input type="submit" value="Enviar" />
    </form>

</div>